
* {
    border: none;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMonoNerdFont", Helvetica, Arial, sans-serif;

    /* adjust font-size value to your liking: */
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(100, 100, 100, 0.5);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: .5s;
    margin-left: 20em;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #cdd6f4;
}
*/

window#waybar.termite {
    background-color: #313244;
}

window#waybar.chromium {
    background-color: #1e1e2e;
    border: none;
}

#workspaces button {
    padding: 0 0.3em;
    background-color: transparent;
    color: #cdd6f4;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #cdd6f4;
}

#workspaces button.focused {
    background-color: #6c7086;
    box-shadow: inset 0 -2px #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}
/*
#mode {
    background-color: #6c7086;
    border-bottom: 3px solid #cdd6f4;
}
*/
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#custom-fan,
#custom-xwaylands,
#mode,
#idle_inhibitor,
#mpris,
#mpd {
    padding: 2 2px;
    margin: 2px 0px;
}

#window,
#workspaces {
    margin: 0px 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging {
}

@keyframes blink {
    to {
        color: #ff4444;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(1,0,0,0);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#language {
    padding: 0 3px;
    min-width: 16px;
}
